name: Build and Deploy (Prod)
on:
  push:
    branches:
      - main

jobs:
  Build:
    name: 'Build and Push to ACR'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Login
        uses: azure/docker-login@v1
        with:
          login-server: ${{ vars.ACR_URL }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and Push to ACR
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ vars.ACR_URL }}/${{ vars.DOCKER_IMAGE_NAME }}:latest
          file: Dockerfile
  Deploy:
    name: 'Deploy to Azure'
    needs: Build
    runs-on: ubuntu-latest
    environment: production
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Create Resource Group
      uses: azure/CLI@v1.0.9
      with:
        azcliversion: 2.49.0
        inlineScript: |
          az group create --resource-group ${{ vars.AZURE_PROD_RG }} --location switzerlandnorth
  
    - name: Azure Bicep Deploy
      uses: Azure/arm-deploy@v2
      with:
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ vars.AZURE_PROD_RG }}
        template: ./deploy/main.bicep
        parameters: '
          dockerImageName=${{ vars.DOCKER_IMAGE_NAME }}
          dockerImageTag=latest
          appServiceName=${{ vars.DOCKER_IMAGE_NAME }}-prod
          containerRegistry=${{ vars.ACR_URL }}
          environment=prod'
        failOnStdErr: false